<center><h1>Data Preparation</h1></center>

For the SeoulBikeData.csv dataset, I will convert the categorical attributes to quantitative attributes such that they are in a valid format for use in building the regression models.

In [46]:
# Import the required modules
import pandas as pd

In [47]:
# Read in the dataset into a pandas dataframe

seoul_bike_data = pd.read_csv("SeoulBikeData.csv", encoding="ansi")
seoul_bike_data.head()

,Date,Rented Bike Count,Hour,Temperature(°C),Humidity(%),Wind speed (m/s),Visibility (10m),Dew point temperature(°C),Solar Radiation (MJ/m2),Rainfall(mm),Snowfall (cm),Seasons,Holiday,Functioning Day
0,01/12/2017,254,0,-5.2,37,2.2,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes
1,01/12/2017,204,1,-5.5,38,0.8,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes
2,01/12/2017,173,2,-6.0,39,1.0,2000,-17.7,0.0,0.0,0.0,Winter,No Holiday,Yes
3,01/12/2017,107,3,-6.2,40,0.9,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes
4,01/12/2017,78,4,-6.0,36,2.3,2000,-18.6,0.0,0.0,0.0,Winter,No Holiday,Yes

For this dataset, the categorical variables which I will transform are Date, Seasons, Holiday, and Functioning Day.

In [48]:
seoul_bike_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Date                       8760 non-null   object
 1   Rented Bike Count          8760 non-null   int64
 2   Hour                       8760 non-null   int64
 3   Temperature(°C)            8760 non-null   float64
 4   Humidity(%)                8760 non-null   int64
 5   Wind speed (m/s)           8760 non-null   float64
 6   Visibility (10m)           8760 non-null   int64
 7   Dew point temperature(°C)  8760 non-null   float64
 8   Solar Radiation (MJ/m2)    8760 non-null   float64
 9   Rainfall(mm)               8760 non-null   float64
 10  Snowfall (cm)              8760 non-null   float64
 11  Seasons                    8760 non-null   object
 12  Holiday                    8760 non-null   object
 13  Functioning Day            8760 non-null   object
dtypes: float64(6), int64(4), object(4)
memory usage: 958.2+ KB

#### 1. Date Attribute
First, for the Date attribute, I will transform it to get the Day, Month, and Year as these 3 new attributes will be quantitative.

In [49]:
# Use pandas to convert the Date attribute to a datetime data type
seoul_bike_data["Date"] = pd.to_datetime(seoul_bike_data["Date"], format="%d/%m/%Y")
seoul_bike_data.head()

,Date,Rented Bike Count,Hour,Temperature(°C),Humidity(%),Wind speed (m/s),Visibility (10m),Dew point temperature(°C),Solar Radiation (MJ/m2),Rainfall(mm),Snowfall (cm),Seasons,Holiday,Functioning Day
0,2017-12-01,254,0,-5.2,37,2.2,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes
1,2017-12-01,204,1,-5.5,38,0.8,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes
2,2017-12-01,173,2,-6.0,39,1.0,2000,-17.7,0.0,0.0,0.0,Winter,No Holiday,Yes
3,2017-12-01,107,3,-6.2,40,0.9,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes
4,2017-12-01,78,4,-6.0,36,2.3,2000,-18.6,0.0,0.0,0.0,Winter,No Holiday,Yes

In [50]:
seoul_bike_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Date                       8760 non-null   datetime64[ns]
 1   Rented Bike Count          8760 non-null   int64
 2   Hour                       8760 non-null   int64
 3   Temperature(°C)            8760 non-null   float64
 4   Humidity(%)                8760 non-null   int64
 5   Wind speed (m/s)           8760 non-null   float64
 6   Visibility (10m)           8760 non-null   int64
 7   Dew point temperature(°C)  8760 non-null   float64
 8   Solar Radiation (MJ/m2)    8760 non-null   float64
 9   Rainfall(mm)               8760 non-null   float64
 10  Snowfall (cm)              8760 non-null   float64
 11  Seasons                    8760 non-null   object
 12  Holiday                    8760 non-null   object
 13  Functioning Day            8760 non-null   object
dtypes: datetime64[ns](1), float64(6), int64(4), object(3)
memory usage: 958.2+ KB

In [51]:
# Create the Day, Month, and Year quantitative attributes from the Date attribute
seoul_bike_data["Day"] = seoul_bike_data["Date"].dt.day
seoul_bike_data["Month"] = seoul_bike_data["Date"].dt.month
seoul_bike_data["Year"] = seoul_bike_data["Date"].dt.year

seoul_bike_data.head()

,Date,Rented Bike Count,Hour,Temperature(°C),Humidity(%),Wind speed (m/s),Visibility (10m),Dew point temperature(°C),Solar Radiation (MJ/m2),Rainfall(mm),Snowfall (cm),Seasons,Holiday,Functioning Day,Day,Month,Year
0,2017-12-01,254,0,-5.2,37,2.2,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes,1,12,2017
1,2017-12-01,204,1,-5.5,38,0.8,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes,1,12,2017
2,2017-12-01,173,2,-6.0,39,1.0,2000,-17.7,0.0,0.0,0.0,Winter,No Holiday,Yes,1,12,2017
3,2017-12-01,107,3,-6.2,40,0.9,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes,1,12,2017
4,2017-12-01,78,4,-6.0,36,2.3,2000,-18.6,0.0,0.0,0.0,Winter,No Holiday,Yes,1,12,2017

In [52]:
# Drop the Date attribute as it is no longer required
seoul_bike_data.drop(columns=["Date"], inplace=True)

#### 2. Seasons Attribute
Second, for the Seasons attribute, I will use one hot encoding to create 4 new binary attributes to represent each Seasons value. This is because the Seasons attribute is not ordinal hence one hot encoding is a suitable method to ensure the 4 new attributes are valid for regression model building.

In [53]:
# To display all unique values of the Seasons attribute
seoul_bike_data["Seasons"].unique()

array(['Winter', 'Spring', 'Summer', 'Autumn'], dtype=object)

In [54]:
# Conduct the one hot encoding using pandas' get_dummies method
seoul_bike_data = pd.get_dummies(seoul_bike_data, prefix="", prefix_sep="", columns=["Seasons"])
seoul_bike_data.head()

,Rented Bike Count,Hour,Temperature(°C),Humidity(%),Wind speed (m/s),Visibility (10m),Dew point temperature(°C),Solar Radiation (MJ/m2),Rainfall(mm),Snowfall (cm),Holiday,Functioning Day,Day,Month,Year,Autumn,Spring,Summer,Winter
0,254,0,-5.2,37,2.2,2000,-17.6,0.0,0.0,0.0,No Holiday,Yes,1,12,2017,0,0,0,1
1,204,1,-5.5,38,0.8,2000,-17.6,0.0,0.0,0.0,No Holiday,Yes,1,12,2017,0,0,0,1
2,173,2,-6.0,39,1.0,2000,-17.7,0.0,0.0,0.0,No Holiday,Yes,1,12,2017,0,0,0,1
3,107,3,-6.2,40,0.9,2000,-17.6,0.0,0.0,0.0,No Holiday,Yes,1,12,2017,0,0,0,1
4,78,4,-6.0,36,2.3,2000,-18.6,0.0,0.0,0.0,No Holiday,Yes,1,12,2017,0,0,0,1

#### 3. Holiday and Functioning Day Attributes
Third, I will focus on transforming the Holiday and Functioning Day attributes to binary quantitative attributes. Specifically, for the Holiday attribute, if the record in our dataset is "No Holiday" then it will be mapped as 0 and if it is "Holiday" then it will be mapped as 1.

In [55]:
# To display the binary values of the Holiday attribute
seoul_bike_data["Holiday"].unique()

array(['No Holiday', 'Holiday'], dtype=object)

In [56]:
# Conduct the mapping using the map method and a dictionary for the binary key value pair
seoul_bike_data["Holiday"] = seoul_bike_data["Holiday"].map({"No Holiday":0, "Holiday":1})
seoul_bike_data["Holiday"].unique()

array([0, 1], dtype=int64)

For the Functioning Day attribute, I will map the value "No" to 0 and "Yes" to 1.

In [57]:
# To display the binary values of the Functioning Day attribute
seoul_bike_data["Functioning Day"].unique()

array(['Yes', 'No'], dtype=object)

In [58]:
# Conduct the mapping using the map method and a dictionary for the binary key value pair
seoul_bike_data["Functioning Day"] = seoul_bike_data["Functioning Day"].map({"No":0, "Yes":1})
seoul_bike_data["Functioning Day"].unique()

array([1, 0], dtype=int64)

#### 4. Prepared Dataset: seoul_bike_data_prepared.csv
Finally, I have completed data preparation and will now convert the dataframe containing the Seoul Bike data into a .csv flat file for the next step which is predictive modeling.

In [59]:
# To display the prepared dataset
seoul_bike_data.head()

,Rented Bike Count,Hour,Temperature(°C),Humidity(%),Wind speed (m/s),Visibility (10m),Dew point temperature(°C),Solar Radiation (MJ/m2),Rainfall(mm),Snowfall (cm),Holiday,Functioning Day,Day,Month,Year,Autumn,Spring,Summer,Winter
0,254,0,-5.2,37,2.2,2000,-17.6,0.0,0.0,0.0,0,1,1,12,2017,0,0,0,1
1,204,1,-5.5,38,0.8,2000,-17.6,0.0,0.0,0.0,0,1,1,12,2017,0,0,0,1
2,173,2,-6.0,39,1.0,2000,-17.7,0.0,0.0,0.0,0,1,1,12,2017,0,0,0,1
3,107,3,-6.2,40,0.9,2000,-17.6,0.0,0.0,0.0,0,1,1,12,2017,0,0,0,1
4,78,4,-6.0,36,2.3,2000,-18.6,0.0,0.0,0.0,0,1,1,12,2017,0,0,0,1

In [60]:
# Output the prepared dataset into a .csv in the same directory as this Jupyter Notebook
seoul_bike_data.to_csv("seoul_bike_data_prepared.csv", index=False)